.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 35px; */
    height: 100vh;
    width: 100%;
    position: fixed;
    margin-top: 40px;
    /* background-color: rgba(255, 255, 255, 0); */
    background-image: url('../images/newbg.png');
    background-size: cover;
    background-position: center;
  }
  
  .segment1 {
    flex: 1;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 0;
    height: 50%;
  }
  
  .segment2 {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    height: 50%;
    flex-direction: row;
    margin-left: 10%;
  }
  