.navbar {
    display: flex;
    justify-content: center;
    background-color: #f4e9db;
    padding: 10px;
    overflow: hidden;
    position: fixed;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
}

.navbarList {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbarItem {
    margin-right: 10px;
}

.navbarLink {
    text-decoration: none;
    color: #884A39;
    font-weight: bold;
}

.navbarLink:hover {
    color: rgb(152, 155, 180);
}

.activeLink {
    color: #C38154;
    text-decoration: underline;
    font-weight: bold;
}